/* Top wave */
.offer-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.offer-wave svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 192px;
}

.offer-wave .shape-fill {
    fill: #191818;
}

/* Offer */
.offer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    gap: 1rem;
    padding-bottom: 0;
    padding-top: 12rem;
}

#offer-title {
    font-family: "Montserrat ExtraBold", sans-serif;
    font-size: 1.875rem;
    margin: 0 0 10px;
}

#offer-subheading {
    font-family: "Montserrat ExtraBold", sans-serif;
    font-size: 1.875rem;
    color: #BD6EFB;
    margin: 0 0 10px;
}

#offer-quote {
    font-family: "Montserrat Bold", sans-serif;
    font-size: 1.75rem;
    margin: 0;
}

#offer-para {
    font-family: "Montserrat SemiBold", sans-serif;
    font-size: 1.625rem;
    max-width: 50rem;
    margin: 10px 0;
}

#offer-para {
    margin-top: 10px;
    margin-bottom: 1rem;
}

#offer-para-2 {
    font-family: "Montserrat SemiBold", sans-serif;
    max-width: 40rem;
    font-size: 1.625rem;
    margin: 0;
}

#loves {
    font-weight: bold;
    color: #510091;
}
#noOffer {
    font-family: "Montserrat ExtraBold", sans-serif;
    font-size: 1.75rem;
    margin: 0 0 10px;
}

#list {
    font-family: "Montserrat Bold", sans-serif;
    font-weight: bold;
    font-size: 1.625rem;
    margin: 0;
    padding: 0;
}

.offer-list {
    margin: 10px 0;
    list-style: none;
}

.offer-list:before {
    content: "\2718";
}

.offer-li{
    position: relative;
    left: 10px;
}

/* Responsive design for mobile phone*/
@media only screen and (max-width: 30rem) {
    .offer {
        margin: -1px;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 6rem;
        gap: 0;
    }

    #offer-title {
        font-size: 1.125rem;
        margin-bottom: 0;
    }

    #offer-subheading {
        font-size: 1.25rem;
        margin-bottom: 5px;
    }

    #offer-quote {
        font-size: 1.125rem;
        margin-bottom: 5px;
    }

    #offer-para {
        font-size: 1rem;
        margin-bottom: 5px;
        margin-top: 4px;
        margin-right: 0;
        max-width: 22rem;
    }

    .offer-box2 {
        order: 1;
        margin-top: 0;
    }

    #noOffer {
        font-size: 1.125rem;
        margin-top: 6px;
        margin-bottom: 4px;

    }

    #offer-para-2 {
        font-size: 1rem;
        max-width: 20rem;
    }

    #list {
        font-size: 1rem;
    }

    li {
        margin: 5px 0;
    }

    .offer-btn {
        justify-content: space-evenly;
    }

    .offer-wave svg {
        height: 100px;
    }
}

@media (min-width: 1200px) and (max-width: 1600px){
    /* Offer */
    .offer {
        padding: 12rem 5rem 0;
    }

    #offer-title {
        font-size: 1.75rem;
    }

    #offer-subheading {
        font-size: 1.75rem;
    }

    #offer-quote {
        font-size: 1.625rem;
    }

    #offer-para {
        font-size: 1.5rem;
        max-width: 35rem;
    }

    #offer-para-2 {
        max-width: 35rem;
        font-size: 1.5rem;
    }

    #list {
        font-size: 1.5rem;
    }
}
/*For Tablets portrait*/
@media (min-width: 768px) and (max-width: 834px){
    .offer {
        margin: -1px;
        padding: 10rem 2rem 0;
    }
    #offer-title {
        font-size: 1.375rem;
        margin-bottom: 0;
    }

    #offer-subheading {
        font-size: 1.375rem;
        margin-bottom: 5px;
    }

    #offer-quote {
        font-size: 1.25rem;
        margin-bottom: 5px;
    }

    #offer-para {
        font-size: 1.125rem;
        margin-bottom: 5px;
        margin-top: 4px;
        margin-right: 0;
        max-width: 25rem;
    }

    .offer-box2 {
        margin-top: 0;
    }

    #noOffer {
        font-size: 1.25rem;
        margin-top: 6px;
        margin-bottom: 4px;

    }

    #offer-para-2 {
        font-size: 1.125rem;
        max-width: 25rem;
    }

    #list {
        font-size: 1.125rem;
    }

    li {
        margin: 5px 0;
    }

    .offer-btn {
        justify-content: space-evenly;
    }
}
