/* Top wave */
.results-top-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.results-top-wave svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 192px;
}

.results-top-wave .shape-fill {
    fill: white;
}
/* Bottom wave */
.results-bottom-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.results-bottom-wave svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 192px;
}

.results-bottom-wave .shape-fill {
    fill: #FFFFFF;
}
/* Main */
.results {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: rgba(243, 243, 243, 1);

}

.results-img {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 40rem;
    height: auto;
}
.mobile-results-img{
    visibility: hidden;
    display: none;
}

.results-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.results-Title {
    font-family: "Montserrat ExtraBold", sans-serif;
    font-size: 2.188rem;
    margin: 0 0 10px;
}

.results-wrd {
    color: #BD6EFB;;
}

.results-para, .results-para2 {
    font-family: "Montserrat SemiBold", sans-serif;
    font-size: 1.5rem;
    max-width: 48rem;
    margin: 10px 0;
}

/* Responsive design for mobile phone*/
@media only screen and (max-width: 680px) {
    section.results{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 8rem;
        margin-top: 0;
    }
    .results-img {
        visibility: hidden;
        display: none;
    }
    .mobile-results-img{
        visibility: visible;
        display: flex;
        width: 100%;
        max-width: 20rem;
        height: auto;
    }

    .results-Title{
        text-align: center;
        font-size: 1.25rem;
        margin-bottom: 30px;
    }
    .results-main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .results-para,.results-para2{
        max-width: 20rem;
        font-size: 1.125rem;
    }
    .results-para{
        margin-top: 1rem;
    }

    .results-top-wave svg {
        height: 15vh;
    }
    .results-bottom-wave  svg {
        height: 15vh;
    }
}
@media (min-width: 1200px) and (max-width: 1600px){
    /* Main */
    .results-img {
        max-width: 100vh;
        max-height: 70vh;
    }

    .results-Title {
        font-size: 2rem;
    }

    .results-para, .results-para2 {
        font-size: 1.25rem;
        max-width: 40rem;
    }

}

/*For Tablets portrait*/
@media (min-width: 768px) and (max-width: 834px){
    .results-img {
        width: 100%;
        max-width: 28rem;
        height: auto;
    }
    .mobile-results-img{
        visibility: hidden;
        display: none;
    }

    .results-Title{
        text-align: center;
        font-size: 1.125rem;
        margin-bottom: 10px;
    }
    .results-main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .results-para,.results-para2{
        max-width: 22rem;
        font-size: 1rem;
    }
    .results-para{
    }

    .results-top-wave svg {
        height: 15vh;
    }
    .results-bottom-wave  svg {
        height: 15vh;
    }
}