.results-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8rem;
}

.results-container {
    flex-direction: column;
    border: 0 solid transparent;
    padding: 3rem 10rem;
    border-radius: 8rem 0 8rem 0;
    background-image: linear-gradient( 109.6deg,  rgba(218,185,252,1) 11.2%, rgba(125,89,252,1) 91.1% );}

.res-title {
    text-align: center;
    font-family: "Helvetica Rounded", sans-serif;
    color: white;
    font-size: 2rem;
    margin: 0 0 10px;
}

.result {
    color: white;
}

.emoji {
    font-size: 1.5rem;
}

.res-quote {
    color: white;
    text-align: center;
    font-family: "Helvetica Rounded", sans-serif;
    font-size: 1.7rem;
    margin: 0 0 1rem;
}

.real {
    color: white;
}

.result-grid, .result-grid2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.result1, .result2, .result3 {
    padding: 20px;
    font-size: 1.8rem;
    font-family: "Helvetica Rounded", sans-serif;
    color: white;
}

.source {
    font-family: "Helvetica", sans-serif;
}

/*Mobile Phone*/
@media only screen and (max-width: 30rem) {
    .results-2 {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 3rem 10px;
    }

    .results-container {
        padding: 2rem 0 1rem;
        border-radius: 2rem;
        display: flex;
        align-items: center;
    }

    .res-title {
        font-size: 1.4rem;
        margin: 0 0 10px;
    }

    .result {
        font-weight: bold;
    }

    .emoji {
        font-size: 1.2rem;
    }

    .res-quote {
        text-align: center;
        font-size: 1.2rem;
        max-width: 20rem;
        margin: 0;
    }

    .result-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .result3{
        grid-column: 1 / span 2;
    }

    .result1, .result2, .result3 {
        padding: 20px;
        font-size: 1.2rem;
        font-family: "Roboto Black", sans-serif;
        font-weight: bold;
    }
    .source{
        font-weight: normal;
    }

}

@media (min-width: 1200px) and (max-width: 1600px){
    .results-container {
        padding: 3rem 8rem;
    }
    .res-title {
        font-size: 2rem;
    }
    .emoji {
        font-size: 2rem;
    }

    .res-quote {
        font-size: 1.625rem;
        margin: 0 0 1rem;
    }

    .result1, .result2, .result3 {
        padding: 20px;
        font-size: 1.625rem;
        font-weight: bold;
    }

    .source{
        font-weight: normal;
    }
}

/*For Tablets portrait*/
@media (min-width: 768px) and (max-width: 834px){
    .results-container {
        margin-top: 4rem;
        margin-right: 2rem;
        margin-left: 2rem;
        padding: 3rem 2rem;
    }
    .res-title {
        font-size: 1.675rem;
    }
    .emoji {
        font-size: 1.7rem;
    }

    .res-quote {
        font-size: 1.675rem;
        margin: 0 0 1rem;
    }

    .result1, .result2, .result3 {
        padding: 20px;
        font-size: 1.625rem;
        font-weight: bold;
    }

    .source{
        font-weight: normal;
    }
}