
/* Header */
.strategy {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}

.strat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.strat-title {
    font-family: "Montserrat ExtraBold", sans-serif;
    font-size: 2.188rem;
    margin: 0 0 10px;
}

.scale {
    color: #BD6EFB;;
}

.strat-sub {
    font-family: "Montserrat ExtraBold", sans-serif;
    font-size: 2.188rem;
    margin: 0 0 10px;
}

.how {
    color: #BD6EFB;
}

.strat-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 8rem;
    padding-left: 8rem;
    margin-bottom: 30px;
    gap: 8rem;
}


.call-img, .strat-img, .kick-off {
    width: 100%;
    max-width: 5rem;
    height: auto;
    margin-bottom: 1rem;
}

.first, .second, .third {
    width: 300px;
    height: 260px;
    border: 3px solid white;
    box-shadow: 0 0 1rem #8900F6;
    background: white;
    padding: 4rem 5rem 4rem;
    border-radius: 25px;
    display: block;
    position: relative;
    text-align: center;
    font-family: "Montserrat Bold", sans-serif;
}


.circle {
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 40px;
    border: 3px solid white;
    left: 50%;
    margin-left: -35px;
    top: -34px;
    background: white;
    text-align: center;
    padding-top: 9px;
    font-size: 2.188rem;
    font-family: "Roboto Black", sans-serif;
    box-shadow: 0 0 1rem 2px #8900F6;
}

/*Step 01*/
.step-1, .step-2, .step-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.step-1 {
    margin-top: 4rem;
}

.strat1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading1, .heading2, .heading3 {
    font-family: "Montserrat SemiBold", sans-serif;
    font-size: 1.375rem;
    margin-bottom: 10px;
}

.word {
    font-family: "Montserrat ExtraBold", sans-serif;
    color: #BD6EFB;
}


.subheading1, .subheading2, .subheading3 {
    font-family: "Montserrat Bold", sans-serif;
    font-size: 1.75rem;
    margin-bottom: 10px;
}

.step1-para, .step2-para, .step3-para {
    font-family: "Montserrat SemiBold", sans-serif;
    font-size: 1.5rem;
    max-width: 40rem;
}

.strat1-img, .strat3-img, .strat3-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calling-img {
    align-items: center;
    width: 100%;
    max-width: 20rem;
    height: auto;
}

/*Step 02*/

.strat2 {
    display: flex;
    justify-content: center;
}

.strat2-img, .strat3-img {
    display: flex;
    justify-content: center;
}

.strategy-img2 {
    padding-top: 4rem;
    width: 100%;
    max-width: 35rem;
    height: auto;
}

.strat2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Step 03*/

.strat3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.kickOff-img {
    padding-top: 4rem;
    width: 100%;
    max-width: 30rem;
    height: auto;
}
/*.strat1,.strat2,.strat3,.strat1-img,.strategy-img2,.kickOff-img{*/
/*    max-width: 30rem;*/
/*}*/


/*Mobile Phone*/
@media only screen and (max-width: 480px) {

    /*Title + step images*/
    .strategy {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        /*padding: 2rem 10px 3rem;*/
        padding: 3rem 10px 1rem;
    }
    .strat{
        margin-bottom: 3rem;
    }

    .strat-title {
        text-align: center;
        font-size: 1.375rem;
    }

    .strat-sub {
        text-align: center;
        font-size: 1.375rem;
    }

    .strat-images {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }


    .call-img,.strat-img, .kick-off {
        width: 100%;
        max-width: 4rem;
        height: auto;
        margin-bottom: 1rem;
    }

    .first, .second, .third {
        max-width: 60vw;
        max-height: 24vh;
        padding: 3rem 4rem 3rem;
    }

    .circle {
        height: 50px;
        width: 50px;
        margin-left: -24px;
        top: -24px;
        padding-top: 4px;
        font-size: 28px;
    }

    .sub {
        font-size: 1.25rem;
    }

    /*Step 1*/
    .step-1, .step-2, .step-3 {
        flex-direction: column;
        align-items: center;
    }

    .step-1 {
        margin-top: 1rem;
    }

    .strat1 {
        justify-content: center;
        padding-bottom: 0;
    }

    .heading1, .heading2, .heading3 {
        font-size: 1rem;
        margin-bottom: 6px;
    }

    .subheading1, .subheading2, .subheading3 {
        font-size: 1.375rem;
        margin-bottom: 6px;
    }

    .step1-para, .step2-para, .step3-para {
        font-size: 1rem;
        max-width: 20rem;
        padding-bottom: 2rem;
    }

    .calling-img {
        width: 100%;
        max-width: 20rem;
        height: auto;
    }

    /*Step 02*/
    .strat2 {
        padding-top: 1.5rem;
        order: -2;
    }

    .strategy-img2 {
        padding-top: 0;
        width: 100%;
        max-width: 22rem;
        height: auto;
    }

    /*Step 03*/
    .strat3 {
        padding-top: 1rem;
    }

    .kickOff-img {
        width: 100%;
        max-width: 22rem;
        height: auto;
    }
}
@media only screen and (min-device-width:1200px) and (max-device-width: 1600px) {
    .strategy {
        padding: 80px;
    }

    .strat-title {
        font-size: 2rem;
    }

    .strat-sub {
        font-size: 2rem;
    }

    .strat-images {
        padding-right: 6rem;
        padding-left: 6rem;
    }


    .call-img,.strat-img, .kick-off {
        max-height: 9vh;
        max-width: 9vw;
    }

    .sub{
        font-size: 1.25rem;
    }
    .first, .second, .third {
        width: 15rem;
        height: 15rem;
    }

    .circle {
        height: 60px;
        width: 60px;
        margin-left: -30px;
        top: -30px;
        font-size: 1.75rem;
    }

    /*Step 01*/
    .step-1 {
        margin-top: 3rem;
    }

    .heading1, .heading2, .heading3 {
        font-size: 1.125rem;
    }

    .subheading1, .subheading2, .subheading3 {
        font-size: 1.5rem;
    }

    .step1-para, .step2-para, .step3-para {
        font-size: 1.25rem;
    }

    .calling-img {
        align-items: center;
        max-width: 30vw;
        max-height: 30vh;
    }

}
