html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Header section Main*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #191818;
    border: 2px solid #191818;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    min-width: 100vw;
    max-height: 600px;
    padding: 2rem 10px 10px;

}

.aboutUs-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 0;
}

.purple {
    font-family: "Josefin Sans ", sans-serif;
    font-weight: bold;
    color: #BD6EFB;
    font-size: 65px;
}

.white {
    font-family: "Josefin Sans ", sans-serif;
    color: white;
    font-size: 65px;
}

.aboutUs-description-1, .aboutUs-description-2 {
    color: white;
    max-width: 35rem;
    font-family: "Josefin Sans ", serif;
    font-size: 30px;
    margin: 0;
}

.aboutUs-description-1 {
    margin-bottom: 30px;
    margin-top: 20px;
}

.scrollDown, .scrollDown-2 {
    display: flex;
    flex-direction: column;
    border: 0;
    border-radius: 2rem;
    max-width: 28rem;
    background-image: linear-gradient(to right, #D786F8, #8196FF);
}

.scrollDown {
    margin-top: 50px;
}

.button-1 {
    margin: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: white;
    text-align: center;
}

.bigger {
    font-size: 18px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.mobilePhone-img {
    max-width: 60vw;
    height: 55vh;
    transform: rotate(20deg);
    margin-top: 45px;
    position: -webkit-sticky;
}

/* Responsive design for mobile phone*/
@media only screen and (max-width: 480px) {
    .header {
        border-top-right-radius: 80px;
        border-bottom-left-radius: 40px;
        padding: 0 0 0 15px;
        height: 30vh;
    }

    .purple, .white {
        font-size: 20px;
    }

    .aboutUs-description-1, .aboutUs-description-2 {
        font-size: 12px;
        width: 10rem;
        margin: 10px 0 0;
    }

    .button-1 {
        font-size: 10px;
        margin: 5px;
    }

    .bigger {
        font-size:
                8px;
    }

    .scrollDown {
        margin-top: 15px;
        width: 10rem;
    }

    .mobilePhone-img {
        width: 55vw;
        height: 28vh;
        margin-top: 30px;
        position: -webkit-sticky;
    }
}

/* Offer */
.offer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10rem;
}

.offer-box1 {
    display: flex;
    flex-direction: column;
}
.offer-box2 {
    display: flex;
    flex-direction: column;
}

#offer-title {
    font-family: "Josefin Sans Bold", sans-serif;
    font-size: 35px;
    margin: 0 0 10px;
}

#offer-subheading {
    font-family: "Open Sans ExtraBold", sans-serif;
    font-size: 35px;
    color: #BD6EFB;
    margin: 0 0 10px;
}

#offer-quote {
    font-family: "Josefin Sans Bold", sans-serif;
    font-size: 30px;
    margin: 0;
}

#offer-para {
    font-family: "Josefin Sans SemiBold", sans-serif;
    font-size: 35px;
    width: 50rem;
    margin: 10px 0;
}

#offer-para {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#offer-para-2 {
    font-family: "Josefin Sans Bold", sans-serif;
    width: 50rem;
    font-size: 30px;
    margin: 0;
}

#loves {
    font-weight: bold;
    color:  #BD6EFB;
}

.offer-btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.offer-btn-2{
    display: none;
    visibility: hidden;
}

.scrollDown-2 {
    width: 100vh;
}

.button-2 {
    margin: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
    text-align: center;
}

.bigger-2 {
    font-size: 20px;
}

#noOffer {
    font-family: "Open Sans ExtraBold", sans-serif;
    font-size: 30px;
    margin: 0 0 10px;
}

#list {
    font-family: "Josefin Sans Bold", sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

li {
    margin: 10px 0;
    list-style: none;
}
li:before {
    content: "\2718";
}

li span{
    position: relative;
    left: 10px;
}

/* Responsive design for mobile phone*/
@media only screen and (max-width: 480px) {
    .offer {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }
    .offer-box1{
        align-items: flex-start;
    }

    #offer-title {
        font-size: 16px;
        margin-bottom: 4px;
    }
    #offer-subheading {
        font-size: 18px;
        margin-bottom: 4px;
    }

    #offer-quote {
        font-size: 14px;
        margin-bottom: 4px;
    }

    #offer-para {
        font-size: 14px;
        margin-bottom: 4px;
        margin-top: 4px;
        width: 23rem;
    }

    .button-2 {
        font-size: 16px;
        margin: 4px;
    }

    .bigger-2 {
        font-size: 14px;
    }

    .scrollDown-2 {
        margin-top: 5px;
        width: 18rem;
    }

    .offer-box2{
        margin-top: 0;
    }
    #noOffer {
       font-size: 15px;
        margin-top: 6px;
        margin-bottom: 4px;

    }

    #offer-para-2 {
        font-size: 14px;
        width: 25rem;
    }

    #list {
        font-size: 14px;
    }

    li {
        margin: 5px 0;
    }
    .offer-btn{
        display: none;
        visibility: hidden;
    }

    .offer-btn-2{
        justify-content: center;
        display: flex;
        align-items: center;
        visibility:visible;
    }

}








