/* Top wave */
.offer-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.offer-wave svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 192px;
}

.offer-wave .shape-fill {
    fill: #191818;
}

/* Offer */
.offer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 0;
    padding-top: 12rem;
    /*margin-top: 10rem;*/
}

#offer-title {
    font-family: "Montserrat ExtraBold", sans-serif;
    font-size: 30px;
    margin: 0 0 10px;
}

#offer-subheading {
    font-family: "Montserrat ExtraBold", sans-serif;
    font-size: 30px;
    color: #BD6EFB;
    margin: 0 0 10px;
}

#offer-quote {
    font-family: "Montserrat Bold", sans-serif;
    font-size: 28px;
    margin: 0;
}

#offer-para {
    font-family: "Montserrat SemiBold", sans-serif;
    font-size: 26px;
    max-width: 50rem;
    margin: 10px 0;
}

#offer-para {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#offer-para-2 {
    font-family: "Montserrat SemiBold", sans-serif;
    max-width: 40rem;
    font-size: 26px;
    margin: 0;
}

#loves {
    font-weight: bold;
    color: #510091;
}

.offer-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.scrollDown-2 {
    width: 60rem;
}

.button-2 {
    margin: 10px;
    font-family: "Roboto Black", sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: white;
    text-align: center;
}

.bigger-2 {
    font-size: 22px;
}


#noOffer {
    font-family: "Montserrat ExtraBold", sans-serif;
    font-size: 28px;
    margin: 0 0 10px;
}

#list {
    font-family: "Montserrat ExtraBoldBold", sans-serif;
    font-weight: bold;
    font-size: 26px;
    margin: 0;
    padding: 0;
}

li {
    margin: 10px 0;
    list-style: none;
}

li:before {
    content: "\2718";
}

li span {
    position: relative;
    left: 10px;
}

/* Responsive design for mobile phone*/
@media only screen and (max-width: 480px) {
    .offer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 6rem;
    }

    .offer-box1, .offer-box2 {
        justify-content: flex-start;
    }

    #offer-title {
        font-size: 18px;
        margin-bottom: 0;
    }

    #offer-subheading {
        font-size: 20px;
        margin-bottom: 5px;
    }

    #offer-quote {
        font-size: 18px;
        margin-bottom: 5px;
    }

#offer-para {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 4px;
    margin-right: 0;
    max-width: 90vw;
}


.button-2 {
    font-size: 16px;
    margin: 10px;
}

.bigger-2 {
    font-size: 14px;
}

.scrollDown-2 {
    margin-top: 5px;
    width: 18rem;
}

.offer-box2 {
    margin-top: 0;
}

#noOffer {
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: 4px;

}
    #offer-para-2 {
        font-size: 16px;
        width: 90vw;
    }

#list {
    font-size: 16px;
}

li {
    margin: 5px 0;
}

.offer-btn {
    justify-content: space-evenly;
}

.offer-wave svg {
    height: 100px;
}


}